body {
  height:100vh;
  overflow:hidden;
}
header {
}
header nav {
  padding-left: 15%!important;
}
header img {
  height: 150px;
}
footer {

}
footer img {
  height: 150px;
  float:right;
  margin-bottom: 20px;
  margin-right: 80px;
}
header img {
  height: 150px;
}
.green {
  background: #ccd560;
  position: absolute;
  width: 30%;
  height: 200vh;
  top: -50px;
  left: -50px;
  z-index: 1;
  transform: rotate(-10deg);
}
.orange {
  background: #dc911c;
  position: absolute;
  height: 40%;
  width: 200%;
  bottom: -100px;
  left: -100px;
  z-index: 1;
  transform: rotate(-10deg);
}
.body {
  padding-top:200px;
  z-index: 3;
  position: relative;
}
h1, h2 {
  position:absolute;
  top:-1000px;
}
h3 {
  color:#201c70;
  font-size: 48px;
  font-weight: bold;
}
h4 {
  color:#201c70;
  font-size: 28px;
  font-weight: bold;
}
.content {

}
.content img {
  height: 200px;
  float: left;
}
.docs {
  
}
.docs button {
  display:none!important;
}
.docs h5 {
  text-align:left;
}
.docs .row > div {
  margin:8px 0;
  border:0px solid #CCCCCC;
  border-bottom:1px;
  text-align:center;
}

.theta .btn-primary {
  color: #201c70;
  border-color: #201c70;
}
.theta .btn-primary:before {
  background-color: rgba(32, 28, 112, 0.4);
}